*.png
poisson_cube/*.mesh
*.sol
*.vtu
mmg_tests/cube_results
mmg_tests/cube_bands_results
mmg_tests/zz_cube*
mmg_tests/tokamak_border

mmg_tests/zz_tok*
tests/results
tests/test_jacobian.py
__pycache__
poisson_cube/results*
poisson_cube/mesh_reorder.py
poisson_cube/nz_resul*

poisson_cube/zz_res*
poisson_cube/plot_tre_vs_vertices.py
*.msh
*.vtk
time/
poisson_cube/NZ_1d_diagnos*
tests/*.pdf
make_metrics_table.py
poisson_cube/NZ_1d_diag/
poisson_cube/NZ_1d_hgrad/
poisson_cube/NZ_diag_iso/
poisson_cube/cube/
poisson_cube/export_legend.py
poisson_cube/plot_errors_per_tol.py
